:root {
  --bold-color: hsl(238, 29%, 16%);
  --accent-color: hsl(14, 88%, 65%);
  --primary-color: hsl(237, 12%, 33%);
  --secondary-color: hsl(240, 6%, 50%);
  --bg-first-color: hsl(273, 75%, 66%);
  --bg-second-color: hsl(240, 73%, 65%);
  --divider-color: hsl(240, 5%, 91%);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  list-style: none;
}

html {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to bottom,
    var(--bg-first-color),
    var(--bg-second-color)
  );
}

main {
  background-color: white;
  padding: 0 1.75em 4em;
  border-radius: 1.75em;
  width: calc(375px - 3.5em);
}


img{
  max-width: 100%;
  display: block;
}

.hero {
  max-width: 85%;
  margin-inline: auto;
  margin-block: -9.3em 2.5em;
  padding-block-end: 2.5em;
  background: url(images/bg-pattern-mobile.svg) bottom / contain no-repeat;
}

.hero .imgbox{
  display: none;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  color: var(--bold-color);
}

.text__group{
  height: 30em;
}

.accordion__element {
  padding-block: 1.5em;
  border-block-end: 1px solid var(--divider-color);
  overflow: hidden;
  cursor: pointer;
}
.accordion__element:hover h2 {
  color: var(--accent-color);
}
.accordion__element h2 {
  color: var(--primary-color);
  font-size: 1.1rem;
  font-weight: 400;
  position: relative;
}
.accordion__element h2::after {
  content: "";
  background: url(images/icon-arrow-down.svg) center bottom no-repeat;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  position: absolute;
  right: 0;
}
.accordion__element p {
  color: var(--secondary-color);
  width: 90%;
  max-height: 0;
  visibility: hidden;
  transition: max-height 0.6s;
}

.accordion__element.active h2 {
  color: var(--bold-color);
  font-weight: 700;
}
.accordion__element.active h2::after {
  transform: rotateX(180deg);
  background-position: center top;
}
.accordion__element.active p {
  margin-block-start: 1em;
  transition-duration: 600ms;
  visibility: visible;
  max-height: 3.5rem;
}

@media screen and (min-width: 1024px) {
  main{
    display: flex;
    justify-content: space-between;
    width: auto;
    padding: 5em 7.5em 2em 0;
    background: url(images/bg-pattern-desktop.svg) -41.5em -20em/ cover no-repeat, white;
  }

  .hero{
    background: none;
    margin-block: 0;
    margin-inline: 0;
    padding: 0;
    max-width: 60%;
    position: relative;
  }

  .hero img{
    margin-inline: -6em 0;
  }

  .hero .imgbox{
    display: block;
    position: absolute;
    bottom: 6em;
    left: -5em;
  }

  .hero .illus{
    overflow: hidden;
  }

  .text__group{
    width: 28em;
  }
  
  h1{
    text-align: start;
  }

  .accordion__element p{
    width: 100%;
  }
}